.row{
    display: flex;
    justify-content: flex-start;
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }  

.col_25 {
    float: left;
    font-size: 13px;
    width: 30%;
    margin-top: 12px;
    font-weight: bold;
  }
  
  .col_75 {
    border: 1px solid #6b6a6a;
    border-radius: 4px;
    padding: 5px 20px;
    float: left;
    width: 60%;
    margin-top: 10px;
    outline: none;
  }