.container{
    margin-top: 80px;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 90%;
    background-color: #b0a9a9;
}

.icon{
    width: 50px;
}