
.header{
    box-shadow: 4px 5px 6px #f2dbec;
    border: 2px solid #e2e2e2;
    border-radius: 50px 20px;
    display: flex;
    margin: 8px 20px;
    width: 97%;
}

.container{
    margin: 0px 20px;
    width: 100%;
    display: flex;
    padding : 5px 10px;
}

.logo{
    display: flex;
    align-items: center;
    width: 30%;
    padding: 5px;
}

.logoImg{
    width: 30%;
}

.logoImg img{
    width: 80%;
}

.logoTitle{
    margin-left: 20px;
    display: flex;
    justify-content: start;
    width: 100%;
}

.navbarContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 150px;
    width: 50%;
    padding: 0 10px;
}

.navbar{
    width: 90%;
}

  
.navbarContainer a {
    float: left;
    font-size: 13px;
    text-align: center;
    padding: 12px 15px;
    color: rgb(51, 50, 50);
    text-decoration: none;
    border: 1px solid #f2dbec;
    border-radius: 200px;
    width: 10%;
    margin-right: 15px;
    font-weight: bold;
  }

  .navbarContainer a:hover{
    background-color: #f2dbec;
  }

.switch{
    width: 10%;
}