.container {
  color: rgb(68, 67, 67);
  width: 100%;
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 100%;
}

.firstRow {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(168, 229, 255);  
}

.headerName {
  width: 20%;
  display: flex;
  align-items: center;
}

.navbarContainer {
  display: flex;
  width: 40%;
  padding: 0 10px;
  height: 60px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

.navbarContainer a {
  float: left;
  font-size: 13px;
  text-align: center;
  padding: 10px 20px;
  color: rgb(68, 67, 67);
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.navbarContainer a:hover {
  font-size: 14px;
  color: rgb(53, 53, 53);
}
