.container {
  width: 100%;
  height: 150px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 98%;
}

.firstRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.headerName {
  width: 20%;
  display: flex;
  align-items: center;
}

.navbarContainer {
  display: flex;
  width: 40%;
  padding: 0 10px;
  height: 60px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

.navbarContainer a {
  float: left;
  font-size: 13px;
  text-align: center;
  padding: 12px 15px;
  color: rgb(51, 50, 50);
  text-decoration: none;
  width: 13%;
  margin-right: 15px;
  font-weight: bold;
}

.navbarContainer a:hover {
  border-bottom: 1px solid #2e2b2d;
}

.secundRow {
  margin: 20px 0;
  border-top: 2px solid #2e2b2d;
  border-bottom: 2px solid #2e2b2d;
}

.secundRow h1{
    font-size: 95px;
}

/* .header{
    width: 97%;
}

.container{
    margin: 0px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding : 5px 10px;
}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 5px;
}

.logoImg{
    width: 30%;
}

.logoImg img{
    width: 80%;
}

.logoTitle{
    margin-left: 20px;
    display: flex;
    justify-content: start;
    width: 100%;
}

.blogTitleWrapper{
    width: 200px;
    background-color: aqua;
} */
