.footer{
    position: absolute;
    bottom: 0;
    box-shadow: 4px 5px 6px #f2dbec;
    border: 2px solid #e2e2e2;
    border-radius: 15px;
    display: flex;
    margin: 8px 20px;
    width: 96%;
    padding: 10px;
    justify-content: center;
}