.postWrapper{
    width: 23%;
    box-shadow: 4px 5px 6px #f9e8f4;
    border: 2px solid #e2e2e2;
    border-radius: 12px ;
    margin-top: 30px;
}

.postBadge{
    background-color: red;
}

.postImg{
    width:100%;
    height: 180px;
    display: flex;
    justify-content: center;
    margin: 5px 5px;
}
.postImg img{
    margin-right: 8px;
    width: 90%;
    height: 95%;
    border-radius: 3px;
}

.postTitle{
    background-color: orange;
    text-align: center;
}

.postContent{
    background-color: yellow;
}

.postAuthor{
    width: 60%;
    background-color: green;
}

.postTime{
    width: 30%;
    background-color: blue;
}

.postFooter{
    width: 100%;
    display: flex;
    justify-content: center;
}