.postWrapper{
    border: 2px solid #a7a6a6;
    border-radius: 12px ;
    margin-top: 30px;
}

.postBadge{
    color: rgb(242, 117, 28);
    width: 30%;
    font-weight: 500;
    text-decoration: none;
}

.postImg{
    width:100%;
    height: 180px;
    display: flex;
    justify-content: center;
    margin: 5px 5px;
}
.postImg img{
    margin-right: 8px;
    width: 90%;
    height: 95%;
    border-radius: 3px;
}

.postTitle{
    font-weight: bold;
    text-align: center;
    padding-left: 18px;
    margin: 10px 0;
    text-decoration: none;
    color: rgb(39, 38, 38);
}

.postAuthor{
    width: 40%;
    font-weight: 500;
}

.postTime{
    width: 30%;
}

.postFooter{
    font-size: small;
    color: rgb(56, 56, 56);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}