.createContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  opacity: 0.8;
}

.createPostWrapper {
  border-radius: 5px;
  width: 32%;
  padding-top: 30px;
}

button {
  width: 40%;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: rgb(1, 153, 184);
  color: #000;
  border: 2px solid #fff;
  font-weight: bold;
  border-radius: 6px;
}

button:hover {
  background-color: #fff;
  border: 2px solid rgb(1, 153, 184);
}
