.createContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 30px 0 0;
}

.createPostWrapper {
  background-color: rgb(191, 239, 249);
  border-radius: 5px;
  width: 60%;
  padding-top: 30px;
}

button {
  width: 40%;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: rgb(1, 153, 184);
  color: black;
  border: 2px solid #fff;
  font-weight: bold;
}

button:hover {
  background-color: #fff;
  border: 2px solid #04aa6d;
  color: #000;
}
