.postContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.postSection{
    width: 85%;
    background-color: rgb(209, 225, 209);
}

.postTitle{
    display: flex;
    padding: 20px 50px;
}

.postImg{
    width: 1200px;
}

.postImg img{
    width: 40%;
}

.postContent{
    background-color: rgb(237, 226, 31);
}