.postContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.postSection{
    width: 85%;
    background-color: rgb(209, 225, 209);
}

.postTitle{
    display: flex;
    padding: 20px 50px;
    background-color: blue;
}

.postImg{
    width: 200px;
    background-color: rgb(62, 148, 92);
}

.postContent{
    background-color: rgb(237, 226, 31);
}